body{
    background-color: aquamarine;
}
#btn{
    background-color: green;
    color: white;
    border-radius: 10%;
    border: none;
    width: 80px;
    height: 40px;
}
#mbtn{
    background-color: chocolate;
    color: white;
    border-radius: 10%;
    border: none;
    width: 80px;
    height: 40px;
}
#response{
    font-size:larger;
    color: blueviolet;
}
#response2{
    font-size: larger;
}
img{
    width: 40%;
}