p{
    display: inline-block;
    position: relative;
    margin-left: -400px;
    padding: 10px;
    color:whitesmoke;
    font-weight: bold;
    width:100px;
}
 
section{
    padding:20px;
    margin-left: 200px;
}
button{
    font-size: 120%;
    padding:5px;
}